<%- include("partials/header.ejs") %>
<body>
    <main id="home-style">
        <div class="vertical-background-1">
            <div>
                <h1>Controle Escolar</h1>
                <hr>
            </div>
        </div>
       
        <div id="nav-style-div">
            <nav>
                <ul>
                    <a href="/registerclass"><li>Salas</li></a>
                    <a href="/teacherregistration"><li>Professores</li></a>
                    <a href="/students"><li>Alunos</li></a>
                </ul>
            </nav>     
        </div>
       
        <div class="vertical-background-2">
            <img src="/img/img-a-escola.png" alt="Imagem educacional">
        </div>
    </main>
</body>
<%- include("partials/footer.ejs") %>